/* spacing on all sections */
.section {
  margin-top: 4rem;
  padding-top: 4rem;
}
.section:last-of-type {
  padding-bottom: 4rem;
}

#cred{
  width: 30px;
  padding: 0px;
  margin: 0px;
  height: 0px;
  cursor: pointer;
  display: flex;
  position: relative;
  left:-121px;
 
}
#cred-p{
  color:white;
  font-size: 9px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

 #cred:hover #cred-p{
  visibility: visible;
  opacity: 1;

}



/* hero background image */
.bgimage {
  height: 100vh;
  background: url("../assets/bg_image.webp");
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
}

.bgimage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#headingText {
  position: absolute;
  top: 20%;
}
/* text css above hero image*/
.hero_title {
  padding-top: 0rem;
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero_text {
  text-align: center;

  color: white;
}

.navbar-toggler {
  font-size: 18px;
}
#navAbout {
  margin-top: 66px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

#navbarSupportedContent {
  transition: height 1s ease;
}

#about {
  margin-top: -8;
}

.image_about {
  width: 100%;
}

.social-icons {
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover,
.fa-briefcase:hover {
  color: #fff;
}
.fab {
  color: white;
}

.fab {
  margin-right: 40px;
}
.fa-briefcase
{
color: white;
}

.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

.footer {
  background-color: #212529;
  text-align: center;
}
.redAstrick {
  color: red;
  position: relative;
  left: -1rem;
  top: 33px;
}
.errorMessage:empty {
  display: none;
}
.errorMessage {
  color: red;
  margin-bottom: 0;
}

#contact {
  padding-bottom: 0;
}

.overlay {
  background-color:#EFEFEF;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  opacity: .5; /* in FireFox */ 
  filter: alpha(opacity=50); /* in IE */
}
#experience
{
  padding-top: 60px;
  margin-top: 36px;
}
/* #timelineElement{
  margin-bottom: 19rem;
} */

.PortfolioImages{
  width: 100%;
  height: 350px;
}
.card
{
  height: 35rem;
}
.card-body
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#services{

  margin-bottom: 11rem;
}

/* typing animation for desktop */
@media (min-width: 800px) {
  .typeanimation {
    display: inline-block;
    width: 70ch;
    animation: typing 2s steps(19), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

/* typing animation for mobile */
@media (max-width: 800px) {
  .typeanimation h2 {
    font-size: 38px;
  }
  .hero_desc {
    font-size: 1.4rem;
  }
  .typeanimation {
    display: inline-block;
    width: 36ch;
    animation: typing 2s steps(19), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

/* CSS for mobile devices */
@media (max-width: 800px) {
  .container,
  .container-sm {
    max-width: 714px;
  }

  #navbarSupportedContent > ul {
    display: flex;
    align-items: center;
  }
  #form {
    margin-top: 20px;
  }

  .redAstrick {
    position: relative;

    left: -0.6rem;
  }
  #cred{
    top: 5px;
    left: -10px;
  position: relative;
  font-weight: bold;
  }
  #cred-p
  {
    font-size: 8px;
  }

  #cred:active #cred-p{
    visibility: visible;
    opacity: 1;
  
  }
  #brand{
    margin-right: 170px;
  }
  /* #portfolio{

    padding-top: 4rem;
  } */


}

#embedmap-canvas img {
  max-width: none !important;
  background: none !important;
  font-size: inherit;
  font-weight: inherit;
}
