/* .navbar {
    width: 100%;
    height: 100px;
    background: #21325e;
    transition: 0.5s ease-out;
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
  }
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
    transition: 0.5s ease-in;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
     
    }
  }
  
  @media only screen and (max-width: 700px) {
    .toggleButton {
      display: flex;
      height: 52px;
    }
    #close a {
      display: none;
     
    }
    .navbar{
      height: 60px;
    }

    #open a
    {
      background-color: white;
      color: black;
      border-radius: 30px;
      width: 300px;
      font-weight: bold;
    }

  }
  
  @media only screen and (min-width: 700px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
      transition: 0.5s ease-in;
    }
  
    #open .links {
      flex-direction: row;
    }
  }
   */